.ant-descriptions {
  .ant-descriptions-title {
    font-weight: 500;
    font-size: 16px;
    color: var(--text-primary-color);
  }
  .ant-descriptions-view {
    .ant-descriptions-item-label {
      color: var(--text-primary-color) !important;
    }
    .ant-descriptions-item-content {
      color: var(--secondary-color) !important;
    }
  }
}
.ant-typography {
  color: var(--secondary-color) !important;
}
