.ant-tabs {
  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: var(--text-primary-color-active) !important;
      font-weight: 500;
    }
  }

  .ant-tabs-ink-bar {
    background: var(--text-primary-color-active) !important;
  }

  .ant-tabs-tab-btn {
    color: var(--text-primary-color) !important;
  }
}
